body{
    background: #f0f0f0;
}

nav{
    background-color: #fff;
}
#sectionBanner{
    background: #000;
    margin-bottom: 3em;
    background-size: cover;
    background-position: top left;
    background-image: url(../images/ask-banner.jpg);
}

#sectionBanner #askForm{
    margin: 2em 0;
    width: 350px;
    position: relative;
    overflow: hidden;
    padding: 2em 1.7em;
}

#sectionBanner #askForm:before{
    content: '';
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(1px);
}

#askForm p{
    padding: 0.5em 0;
}

#askForm label{
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

#askForm input,
#askForm textarea,
#askForm select{
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 0.4em;
    border: none;
    outline-color: #aaa;
}

#askForm .btn{
    height: auto;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background: #000;
}

#sectionAnswers{
    padding-bottom: 3em;
}

#sectionAnswers #text{
    max-width: 900px;
    margin: auto;
}

#sectionAnswers #text h2{
    font-size: 2em;
    margin-bottom: 0.8em;
}

#sectionAnswers #text p{
    font-size: 0.9em;
    line-height: 1.6em;
    margin-bottom: 2em;
}

#sectionAnswers menu{
    padding: 1em 0;
}

#sectionAnswers menu button{
    background-color: transparent;
    border: none;
    padding: 0.2em 0;
    margin: 0 1em;
    font-size: 0.9em;
    text-transform: uppercase;
    border-bottom: 2.5px solid transparent;
    outline: none;
}

#sectionAnswers menu button.active{
    border-bottom-color: #000;
}

#answers{
    margin-top: 2em;
    position: relative;
}

.answer{
    min-width: 0;
    background: #fff;
}

.answer .image{
    background: #000;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.answer .text{
    padding: 1.3em;
}

.answer .text h5{
    font-size: 1em;
    line-height: 1.4em;
}

.answer .text p{
    font-size: 0.75em;
    line-height: 1.4em;
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

.answer .text p span{
    font-size: 1em;
    line-height: 1.4em;
}

#answers:not(.all) .answer .text p{
    display: none;
}

#catLabel{
    font-size: 1.1em;
}

#catPicker{
    font-size: 1em;
    padding: 0.1em 0em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #999;
}

#askBtn{
    position: relative;
    font-size: 1.1em;
    padding: 1.1em 1em;
    background: transparent;
    border: none;
    width: 100%;
    color: #fff;
    margin-top: -0.6em;
    margin-bottom: 0.4em;
}

#askBtn:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: all 0.25s ease-out;
}

#askBtn.hide{
    color: transparent;
    transition: all 0.15s ease-out;
}

#askBtn.hide:before{
    /*width: 30%;*/
    /*left: 70%;*/
    left: calc(100% - 64px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    opacity: 0;
}

#askFab{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background: #f00;
    z-index: 1;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);

    transition: opacity 0.25s ease-out;
    transition-delay: 0.15s;
}

#askFab.hide{
    opacity: 0;
    transform: translate3d(-405%, 0, 0);
    transition: all 0.25s ease-out;
    transition-delay: 0s;
}

#askFab svg{
    fill: #fff
}

@media screen and (max-width: 680px){
    body{
        padding-top: 60px !important;
    }

    #sectionAnswers #text h2{
        font-size: 1.7em;
        margin-bottom: 0.8em;
    }

    #sectionAnswers{
        position: relative;
        padding-bottom: 0.5em;
    }

    #sectionBanner #askForm{
        display: none;
    }

    .grid > *{
        width: 100% !important;
        margin: 0;
        margin-bottom: 1.5em;
    }
}