body{
  /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  /*font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  --main-color: #ff3a3c;
  --main-color-light: #fcebdf;
  --accent-color: #4351a2;
  --accent-color-light: #98a1c8;
  --light-color: #f3f3f3;

  --main-color-darker: #744d8f;

  font-family: "Regular", Arial, sans-serif;
}

body.locked{
    overflow: hidden;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}


@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

.scrim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

q{
    quotes: "“" "”" "‘" "’";
}

q:before{
    content: open-quote;
}

q:after{
    content: close-quote;
}

.text-center{
    text-align: center;
}

.text-bold{
    font-family: Bold, sans-serif;
    font-weight: bold;
}

.text-light{
    font-family: Light, sans-serif;
    font-weight: 100;
}


.section-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2em;
}

.grid{
    display: grid;
    grid-gap: 1.1em;
    grid-template-columns: repeat(3, 1fr);
}

.grid > div{
    min-width:0;
}

.grid > .image{
    overflow: hidden;
}

#topNav{
    padding: 8px 0;
}

#topNav.mini{
    padding: 4px 0;
}

#topNav.mini .section-wrapper{
    padding-left: calc(2em - 20px);
}

#topNav.mini + #mainNav .section-wrapper{
    padding-left: calc(2em - 40px);
}

#navRightThings{
    font-size: 16px;
}

#navRightThings i{
    font-size: 22px;
    margin-right: 8px;
    color: var(--accent-color);
}

#topNav.mini #navRightThings,
#topNav.mini #navRightThings i{
    font-size: 15px;
}

#mainLogo{
    font-family: "Futura Bold", sans-serif;
    font-size: 2em;
    color: var(--main-color-darker);
}

#mainLogo img{
    height: 40px;
    /*margin-left: 30px;*/
}

#topNav.mini #mainLogo img{
    height: 30px;
}

#mainNav{
    padding: 8px 0;
    z-index: 9;
}

#mainNavPlaceHolder{
    height: 66px;
    display: none;
}

@keyframes slideDown {
    from{
        transform: translateY(-110%);
    }

    to{
        transform: none;
    }
}

#mainNav.fixed,
#mainNav.thin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#mainNav.thin + #mainNavPlaceHolder{
    display: block;
}

#mainNav.fixed{
    background-color: #fff !important;
    border-bottom: 1px solid #f5f5f5;
}

#mainNav.fixed:before,
#mainNav.thin:before{
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    transition: opacity 0.25s ease-in-out;
}

#mainNav.fixed.shadowed:before,
#mainNav.thin.shadowed:before{
    opacity: 1;
}

#mainNav.fixed.shadowed,
#mainNav.thin.shadowed{
    border-bottom-color: transparent;
}

#mainNav.fixed{
    background: #fff;
    color: #444;
}

#mainNav.thin{
    animation: slideDown 0.35s ease-out;
}

#mainNav .section-wrapper{
    padding-left: calc(2em - 20px);
}

#navLinks{
    max-width: 900px;
}

#navLinks > a,
#navLinks .dropdown-menu > a{
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 16px 20px;
    font-size: 0.8em;
    font-family: "PT Bold", sans-serif;
}

#navLinks > a.active{
    border-left:none;
}

#navLinks .dropdown{
    position: absolute;
    left: 0;
    top: 110%;
    display: inline-block;
    font-size: 1.1em;
    font-family: "PT Bold", sans-serif;
    background-color: #fff;
    color: #000;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
    padding: 8px 0;
}

#navLinks .dropdown-menu > a:not(:hover) + .dropdown:not(:hover){
    opacity: 0;
    pointer-events: none;
    transform: translateY(10%);
}

#navLinks .dropdown-menu > a{
    padding: 0 28px 0 15px !important;
    background: url(../images/arrow_down.svg) right center/33px 7px no-repeat;
}

#navLinks .dropdown a{
    display: block;
    position: relative;
    padding: 8px 12px;
    font-size: 0.7em;
    font-family: PT, sans-serif;
    min-width: 150px;
}

#navLinks .dropdown a:hover{
    background-color: #f5f5f5;
}

.section-title h1{
    font-family: "PT Bold", sans-serif;
    font-size: 2.5em;
}

.section-title p{
    font-size: 1.7em;
    font-family: "Futura", sans-serif;
}

.section-title h1 + p{
    margin-top: 6px;
    margin-left: 6px;
}

.btn{
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: all .3s ease;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    height: 30px;
    padding: 0 20px;
    font-size: 15px;
    line-height: 27px;
    background: var(--main-color);
    color: #fff; 
}

.btn.accent{
    background: var(--accent-color);
}

.btn.danger{
    background: #ff3a3c;
}

.btn.large{
    height: 40px;
    padding: 0 40px;
    font-size: 15px;
    line-height: 37px;
}

.btn.block{
    width: 100%;
}

.btn[disabled],
.btn.disabled{
    background: #ddd;
    color: #aaa;
    pointer-events: none;
}

.product.added .btn.add-btn,
.product:not(.added) .btn.remove-btn{
    display: none;
}

.input{
    display: inline-block;
    position: relative;
    height: 40px;
    min-width: 170px;
    padding: 0 15px 0 15px;
    border: 1px solid #999;
    border-radius: 0;
    outline: 0;
    color: #414141;
    font: 400 12px/40px Arial,sans-serif;
    font-style: normal!important;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.input{
    cursor: pointer;
    padding: 0 28px 0 15px;
    background: url(../images/arrow_down.svg) right center/43px 7px no-repeat;
}

/*FOOTER*/
footer{
    /*height: 260px;*/
    background: #000;
    color: #eee;
}

.footer-wrapper{
    padding-top: 4em;
    /*padding: 4em;*/
    /*padding-bottom: 2.5em;*/
}

footer #copyright{
    background-color: transparent;
    /*max-width: 800px;*/
    font-size: 12px;
    color: #aaa;
    border-top: 1px solid #333;
    font-family: "FiraSans", sans-serif;
    padding: 2.4em 0;
}

footer .highlight{
    color: #fff;
    /*color: var(--color-primary-0);*/
}

footer #subscribe{
    padding-right: 40px;
    width: 350px;
    min-width: 350px;
}

footer #subscribe h3{
    font-size: 24px;
    margin-bottom: 4px;
    color: #fff;
}

#footerNav{
    margin-bottom: 25px;
}

#footerNav .flex{
    max-width: 30%;
}

#footerNav .fle{
    min-width: 25%;
    margin: 0 8px;
    align-items: flex-start;
}


#footerNav h5{
    position: relative;
    font-family: "Bold", sans-serif;
    font-weight: bold;
    font-size: 0.98em;
    margin-bottom: 2em;
    color: #fff;
    display: inline-block;
}

#footerNav h5:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: #fff;
    bottom: -0.76em;
}

#footerNav a:not(.social-icon){
    font-family: "FiraSans", sans-serif;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 8px;
}

/*footer #socialMediaLinks a{*/
    /*font-size: 30px;*/
    /*margin: 12px;*/
    /*margin-top: 0;*/
    /*margin-left: 0;*/
/*}*/

#socialMediaLinks{
    /*margin-top: 18px;*/
}

#socialMediaLinks .social-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    margin-right: 6px;
    background-color: #555;
}

#socialMediaLinks .social-icon.facebook{
    background-color: #3b5998;
}

#socialMediaLinks .social-icon.twitter{
    background-color: #55acee;
}

#socialMediaLinks .social-icon.instagram{
    background: -webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

#socialMediaLinks .social-icon.youtube{
    background-color: #f00;
}

@media screen and (min-width: 681px){
    .for-mob{
        display: none !important;
    }
}

@media screen and (max-width: 680px){
    .for-lg{
        display: none !important;
    }
}