body{
    background: #000;
}
nav{
    background-color: #fff;
}
/*SECTION BANNER*/
#sectionBanner{
    padding: 0;
    overflow: hidden;
    height: 220px;
    background: #f5f5f5;
    border-bottom: 4px solid #f00;
}

#sectionAbout{
    padding: 4.5em 0;
    color: #ddd;
}

#sectionAbout h2{
    display: inline-block;
    padding-bottom: 0.7em;
    margin-bottom: 1.3em;
    color: #fff;
    border-bottom: 1px solid #444;
}

#sectionAbout p{
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 2em;
}

.bubble{
    display: inline-block;
    padding: 0.7em 1em;
    background: #f00;
    color: #fff;
    font-size: 0.75em;
    border-radius: 0.5em;
    margin-right: 0.6em;
}

#episodesPointer{
    color: #fff; margin-bottom: 2em; font-size: 1.12em
}

#episodesPointer i{
    display: block;
    padding: 0.3em 0;
}

.grid{
    margin-left: 0;
    width: 100vw;
}

.grid > *{
    width: 33.33%;
    margin: 0;
}

.grid .image{
    position: relative;
    height: 280px;
    background: #f0f0f0;
    overflow: hidden;
}

.grid .image img{
    width: 100%;
}

.grid .text{
    padding: 1em 1.6em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));

    height: 100%;
    overflow: hidden;
}

.grid .text h3{
    max-width: 90%;
    font-size: 1em;
    line-height: 1.3em;
}

.grid .text p{
    text-transform: uppercase;
    font-size: 0.6em;
    padding: 0.8em 0;
    color: #f00;
}

.grid .text p span{
    color: #ddd;
}

.episode .scrim{
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-size: 3.5em;
    padding-bottom: 60px;
}

.episode:not(:hover) .scrim{
    opacity: 0;
}

#showBanner{
    margin-top: 60px;
    height: 160px;
    text-align: center;
    background: #f2f2f2;
    /*color: #fff;*/
    border-bottom: 2px solid #f00;
    font-family: Bold, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

@media screen and (max-width: 680px){
    #sectionAbout{
        margin-top: -20px;
    }
    #sectionAbout .section-wrapper {
        padding: 0 1.7em;
    }

    .grid > * {
        width: 100%;
        margin: 0;
    }

    #sectionAbout h2 {
        border-bottom:none;
    }

    #sectionAbout h2 {
        margin-bottom: 0.6em;
    }
}